<form [formGroup]="frmGroup" novalidate>
    <div name="pnlGridListCliente" *ngIf="!mostrarPanelForm">
       
        <h2>Tipo Contribuyente</h2>

        <div *ngIf="isProgrress" class="alert alert-primary" role="alert">
            Guardado Exitoso!
          </div>
        <div class="mb-4 row ">
            <div class="col-8">
                <input type="email" class="form-control" name="searchname" #searchname [formControl]="term"
                    placeholder="Buscar">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" #popupbtn (click)="nuevo()">Nuevo</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>                 
                    <th>Estado</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoCon of listarTipoContribuyente">
                    <td>{{tipoCon.idTipoContribuyente}}</td>
                    <td>{{tipoCon.nombre}}</td>                    
                    <td style="text-align: center">
                        <i *ngIf="tipoCon.estado ==1" class="bi bi-check-circle text-success "></i>
                        <i *ngIf="tipoCon.estado ==0" class="bi bi-x-circle text-danger "></i>
                    </td>
                    <td><a class="btn btn-primary" (click)="buscarID(tipoCon)">Edit</a> | <a
                            class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="confirmarEliminar(tipoCon)">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        <app-paginacion [dataProvider]="dataProvider" [cantidadPage]="cantidadPage" (change)="getBufferedData($event)"></app-paginacion>        
    </div>
    <div name="pnlGridFrmCliente" *ngIf="mostrarPanelForm">
        


        <div class="row">
            <div class="col-md-12  mt-5">
                <div class="card">
                    <div class="card-header">
                        <h3 *ngIf="accionNuevo" mat-subheader>Crear </h3>
                        <h3 *ngIf="!accionNuevo" mat-subheader>Modificar</h3>                
                    </div>
                    <div class="card-body">                        
                        <div class="mb-3">
                            <label>Nombre *</label>
                            <div class="input-group">
                                <input [maxLength]="50" name="nombre" class="form-control"  formControlName="nombre">
                            </div>
                        </div>                      
                        <div class="mb-3">
                            <label>Estado *</label>
                            <select class="form-select" aname="estado" class="form-control" formControlName="estado" ria-label="Default select example">                                
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>                                
                              </select>
                        </div>
                        
    
                    </div>
                    <div class="card-footer">
                        <div class="row ">
                            <div class="col-1">
                                <button class="btn btn-primary" [disabled]="frmGroup.invalid" #popupbtn (click)="guardar()">Guardar</button>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-danger" #popupbtn (click)="cancelar()">Cancelar</button>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-wrap">
                {{tipoContribuyente.nombre}}
            </div>            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"  (click)="eliminar(tipoContribuyente.idTipoContribuyente)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>