<div class="container">

    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <div class="card-header">
                    Login
                </div>
                <div class="card-body">

                    <form name="frmLogin" #frmLogin="ngForm" (ngSubmit)="iniciarSession(frmLogin.invalid)" novalidate>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" placeholder="Enter email" name="userName"
                                #userName="ngModel" [(ngModel)]="usuario.email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" placeholder="Password" type="password"
                                name="userPassword" #userPassword="ngModel" [(ngModel)]="usuario.token">
                        </div>

                        <button type="submit" class=" mt-2 btn btn-primary">Iniciar Session</button>
                    </form>

                </div>
            </div>
        </div>
    </div>






    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5">


        </div>
    </div>



</div>