:host {
    display: flex;
    flex: 0 0 auto;
    z-index: 3;
    .paginator {
        height: 40px !important;
        transition: all 0.8s;
    }
    .mat-toolbar {
        background: inherit;
        color: inherit;
        box-shadow: 0px -1px 1px -1px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px -1px 3px 0px rgba(0, 0, 0, 0.12);
    }
    &.above {
        position: relative;
        z-index: 99;
    }
}

.cssModal {
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
}