<nav aria-label="...">
	<ul class="pagination">
	  <li class="page-item" style="cursor:pointer;">
		<span   class="page-link" [ngClass]="{'disabled': beforePageDisabled}"  (click)="beforePage($event)">Previous</span>
	  </li>
	  <li class="page-item active" aria-current="page">
		<span class="page-link"> {{dataProvider.currentPage}}/{{cantidadPage}}  - {{dataProvider.totalResults}}</span>
	  </li>	 
	  <li class="page-item" style="cursor:pointer;">
		<a   class="page-link" [ngClass]="{'disabled': nextPageDisabled}" (click)="nextPage($event)">Next</a>
	  </li>
	</ul>
  </nav>
