<form [formGroup]="frmGroup" novalidate>
    <div name="pnlGridListCliente" *ngIf="!mostrarPanelForm">
       
        <h2>Tipo Documento</h2>

        <div *ngIf="isProgrress" class="alert alert-primary" role="alert">
            Guardado Exitoso!
          </div>
        <div class="mb-4 row ">
            <div class="col-8">
                <input type="email" class="form-control" name="searchname" #searchname [formControl]="term"
                    placeholder="Buscar">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" #popupbtn (click)="nuevo()">Nuevo</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 250px;"> Razon Social</th>
                    <th>Nro Documento</th>
                    <th style="    width: 250px;">Tipo Documento</th>
                    <th style="width: 150px;"> Tipo Contribuyente</th>
                    <th>Estado</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entidad of listarEntidad">
                    <td>{{entidad.razonSocial}}</td>
                    <td>{{entidad.nroDocumento}}</td>
                    <td>{{entidad.tipoDocumento.nombre}}</td>
                    <td>{{entidad.tipoContribuyente.nombre}}</td>
                    <td style="text-align: center">
                        <i *ngIf="entidad.estado ==1" class="bi bi-check-circle text-success "></i>
                        <i *ngIf="entidad.estado ==0" class="bi bi-x-circle text-danger "></i>
                    </td>
                    <td><a class="btn btn-primary" (click)="buscarID(entidad)">Edit</a> | <a
                            class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="confirmarEliminar(entidad)">Eliminar</a></td>
                </tr>
            </tbody>
        </table>
        <app-paginacion [dataProvider]="dataProvider" [cantidadPage]="cantidadPage" (change)="getBufferedData($event)"></app-paginacion>        
    </div>
    <div name="pnlGridFrmCliente" *ngIf="mostrarPanelForm">
        


        <div class="row">
            <div class="col-md-12  mt-5">
                <div class="card">
                    <div class="card-header">
                        <h3 *ngIf="accionNuevo" mat-subheader>Crear </h3>
                        <h3 *ngIf="!accionNuevo" mat-subheader>Modificar</h3>                
                    </div>
                    <div class="card-body">
                        <div class="mb-3" formGroupName="tipoDocumento">
                            <label>Tipo Documento *</label>
                            <select class="form-select" aname="tipoDocumento" class="form-control" formControlName="idTipoDocumento" ria-label="Default select example">                                
                                <option [value]="item.idTipoDocumento"  *ngFor="let item of listarTipoDocumento">{{item.nombre}}</option>
                              </select>
                        </div>

                        <div class="mb-3">
                            <label>Nro Documento *</label>
                            <div class="input-group">
                                <input  type="number" [maxLength]="25" name="nroDocumento" class="form-control" formControlName="nroDocumento">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Razon Social *</label>
                            <div class="input-group">
                                <input  [maxLength]="100" name="razonSocial" class="form-control" formControlName="razonSocial">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Nombre Comercial</label>
                            <div class="input-group">
                                <input  [maxLength]="100" name="nombreComercial" class="form-control" formControlName="nombreComercial">
                            </div>
                        </div>
                        <div class="mb-3" formGroupName="tipoContribuyente">
                            <label>Tipo Contribuyente</label>
                            <select class="form-select" aname="tipoContribuyente" class="form-control" formControlName="idTipoContribuyente" ria-label="Default select example">                                
                                <option [value]="item.idTipoContribuyente"  *ngFor="let item of listarTipoContribuyente">{{item.nombre}}</option>                          
                              </select>
                        </div>
                        <div class="mb-3">
                            <label>Dirección</label>
                            <div class="input-group">
                                <input  [maxLength]="250" name="direccion" class="form-control" formControlName="direccion">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Telefono</label>
                            <div class="input-group">
                                <input type="number" [maxLength]="50" name="telefono" class="form-control" formControlName="telefono">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Estado *</label>
                            <select class="form-select" aname="estado" class="form-control" formControlName="estado" ria-label="Default select example">                                
                                <option value="1" >Activo</option>
                                <option value="0">Inactivo</option>                                
                              </select>
                        </div>                       
    
                    </div>
                    <div class="card-footer">
                        <div class="row ">
                            <div class="col-1">
                                <button class="btn btn-primary" [disabled]="frmGroup.invalid" #popupbtn (click)="guardar()">Guardar</button>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-danger" #popupbtn (click)="cancelar()">Cancelar</button>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>

    </div>
</form>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        {{entidad.razonSocial}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"  (click)="eliminar(entidad.idEntidad)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>